.arrow_container{

   -fx-alignment:center-left;
   -fx-spacing:2;
   -fx-background-color:white;
   
}

.object_container{

   -fx-alignment:center;
   -fx-spacing:20;
   
   -fx-background-color:white;
   
 
}

.object_container Button{

    -fx-background-color:white;

}

.anch_pane{

     -fx-effect:dropshadow(gaussian , #AAAAAA , 10 , 0.2 , 0,2);
   
    -fx-background-color:white;
    
   

}

